/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */
html {
	scrollbar-gutter: stable;
}

body {
	@apply bg-background text-foreground font-sans;
}

body.mobile-nav-open {
	position: fixed;
	width: 100%;
	overflow: hidden;
}
